body {
    margin: 0;
}

.header {
    width: calc(100vw - 750px);
    height: 100px;
    background: #10101DE5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 375px;
    z-index: 21;
}

.header-title h1 {
    font-family: Raleway;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.header-title span {
    color: #43ABF0;
}

.header-links {
    display: flex;
    gap: 60px;
}

.header-links h1 {
    font-family: Lato;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .header {
        width: calc(100vw - 200px);
        padding: 0px 100px;
    }
}

@media screen and (max-width: 1440px) {
    .header-links {
        gap: 20px;
    }
    .header {
        width: calc(100vw - 50px);
        padding: 0px 25px;
    }
}

@media screen and (max-width: 600px) {
    .header-title h1 {
        font-size: 16px;
    }
    .header {
        height: 60px;
    }
}

@media screen and (max-width: 460px) {
    .header-title h1 {
        display: none;
    }
    .header-links {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .header-links h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .header-links h1 {
        font-size: 13px;
    }
}

.main-page {
    background-image: url("images/background.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 850px;
    background-size: 100% 100%;
}

.main-page-content {
    padding-top: 203px;
    padding-left: 375px;
    max-width: 780px;
}

.main-page-content h1 {
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 0;
}

.main-page-content h1 span {
    font-family: Raleway;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #43ABF0;
}

.main-page-content h2 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 80px;
}

.main-page-content h3 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 0;
    padding-left: 11px;
}

@media screen and (max-width: 1440px) {
    .main-page-content {
        padding: 0;
        max-width: 600px;
    }
    .main-page {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1100px){
    .main-page {
        background-size: cover;
    }
}

.li-list {
    display: flex;
    height: 24px;
    align-items: center;
}

.container {
    overflow-x: hidden;
}

@media screen and (max-width: 700px) {
    .main-page-content {
        max-width: fit-content;
        padding-left: 16px;
        padding-right: 16px;
    }
    .main-page-content h1 {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }
    .main-page-content h1 span {
        font-size: 30px;
        line-height: 40px;
    }
    .buttons-wrapper {
        justify-content: center;
    }
    .main-page-content h2 {
        text-align: center;
    }
    .li-list {
        justify-content: center;
        height: auto;
        margin-bottom: 8px;
    }
    .main-page-content h3 {
        text-align: center;
    }
    .li-list img {
        display: none;
    }
    .main-page {
        height: 470px;
        align-items: flex-start;
        padding-top: 120px;
    }
}

@media screen and (max-width: 500px) {
    .main-page {
        height: auto;
        padding-bottom: 30px;
    }
}

.buttons-wrapper {
    margin-top: 80px;
    display: flex;
    gap: 30px;
}

.buttons-wrapper button {
    width: 183px;
    height: 43px;
    padding: 15px 10px 15px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .buttons-wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
    }
    .main-page-content h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .main-page-content h1 span {
        font-size: 22px;
        line-height: 30px;
    }
    .main-page-content h2 {
        margin-top: 30px;
    }
}
.buy-button {
    border: 1px solid #FFFFFF;
    background: #3E9CDC;
    color: #FFFFFF;
}

.more-details-button {
    background: #FFFFFF;
    color: #2A2B30;
    border: 1px solid #6F6D7B;
}

.placing-an-order {
    background-image: url("images/placingOrder.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 920px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placing-an-order-container {
    width: 1172px;
    height: 648px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placing-an-order-container h1 {
    font-family: Lato;
    font-size: 36px;
    font-weight: 800;
    line-height: 43px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.placing-an-order-container h1 span {
     color: #43ABF0;
}

@media screen and (max-width: 500px) {
    .placing-an-order-container h1 {
        font-size: 22px;
    }
}

.placing-an-order-container h2 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #BBBBBB;
    margin-top: 30px;
}
@media screen and (max-width: 500px) {
    .placing-an-order-container h2 {
        margin-top: 15px;
    }
}
.stepper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.stepper-item {
    width: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepper-circle {
    width: 100px;
    height: 100px;
    background: #3E9CDC;
    border-radius: 50%;
    border: 5px solid #286690;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1440px) {
    .stepper-item {
        width: 180px;
    }
    .stepper-circle {
        width: 80px;
        height: 80px;
        border: 4px solid #286690;
    }
    .placing-an-order-container {
        width: 100%;
        padding: 0 50px;
    }
}

@media screen and (max-width: 1050px) {
    .stepper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .placing-an-order {
        height: 1400px;
    }
}

@media screen and (max-width: 600px) {
    .placing-an-order {
        height: 1320px;
    }
}

.stepper-item h1 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 188px;
    margin-top: 20px;
    text-transform: none;
}

.dots-wrapper {
    width: 830px;
    height: 6px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 53px;
    left: 168px;
}

@media screen and (max-width: 1440px) {
    .dots-wrapper {
        width: 74%;
        left: 154px;
        top: 44px;
    }
}

@media screen and (max-width: 1240px) {
    .dots-wrapper {
        display: none;
    }
}

.dots-section {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.dot {
    background: #C4C4C4;
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #FFFFFFD9;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 21px;
    left: 345px;
    width: 9px;
    height: 7px;
    background-image: url("images/arrow-bottom.png");
}

.select-selected.select-arrow-active {
    background: #3D4050D9;
    color: #FFFFFF;
}

.select-selected.select-arrow-active:after {
    background-image: url("images/arrow-top.png");
    top: 7px;
    top: 21px;
    left: 345px;
}

.select-items div {
    color: #FFFFFF !important;
}
.select-items div:hover {
    color: #43ABF0 !important;
}

.select-items {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.select-items div,.select-selected {
    color: #272733;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 336px;
    height: 22px;
    border-radius: 3px;
}

.select-items {
    position: absolute;
    background-color: #272733E5;
    width: 370px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    scrollbar-color: #3E9CDC #3D4050;
    scrollbar-width: thin;
}

.select-hide {
    display: none;
}

.input-section {
    width: 1172px;
    height: 229px;
    margin-top: 80px;
}

.input-section-top {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

@media screen and (max-width: 1240px) {
    .input-section-top {
        flex-direction: column;
    }
    .input-section {
        width: 370px;
    }
    .placing-an-order-container {
        align-items: center;
    }
}

.input-section-top input {
    width: 348px;
    height: 26px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background: #FFFFFFD9;
}

@media screen and (max-width: 600px) {
    .select-items div,.select-selected {
        width: 250px;
        height: 26px;
        padding: 4px 16px;
    }
    .input-section-top {
        align-items: center;
    }
    .select-selected:after {
        top: 16px;
        left: 260px;
    }
    .select-selected.select-arrow-active:after {
        top: 16px;
        left: 260px;
    }
    .select-items {
        width: 285px;
    }
    .input-section-top input {
        width: 262px;
        height: 14px;
    }
    .input-section {
        margin-top: 40px;
    }
}

.input-section-top input::placeholder {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #272733;
}

.input-section-bottom {
    display: flex;
    gap: 22px;
    margin-top: 30px;
}

@media screen and (max-width: 1240px) {
    .input-section-bottom {
        flex-direction: column;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #FFFFFFB2;
    border: 1px solid #FFFFFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #42A9ED;
    cursor: pointer;
    border: 3px solid #286690
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider-wrapper {
    width: 777px;
    height: 63px;
}

.slider-wrapper-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 22px;
    margin-bottom: 4px;
}

.slider-wrapper-text h1 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-transform: none;
}

.slider-wrapper-text h2 {
    margin-top: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFFD9;
}

.input-file {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}
.input-file span {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    color: #272733;
    border-radius: 3px;
    background-color: #FFFFFF;
    height: 48px;
    width: 370px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    padding-left: 126px;
    align-items: center;
    text-transform: uppercase;

}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #FFFFFFD9
}
.input-file:active span {
    background-color: #FFFFFFD9;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.input-file img {
    position: absolute;
    top: 14px;
    left: 96px;
    z-index: 20;
}

.send-button-wrapper {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1240px) {
    .send-button-wrapper {
        margin-top: 170px;
    }
    .slider-wrapper {
        width: 100%;
    }
}

.send-button-wrapper button {
    width: 370px;
    height: 48px;
    border-radius: 4px;
    background: #3E9CDC;
    border: 1px solid #FFFFFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .slider-wrapper {
        width: 284px;
    }
    .input-section-bottom {
        align-items: center;
    }
    .slider-wrapper-text {
        margin-bottom: 10px;
    }
    .slider-wrapper-text h1 {
        font-size: 13px;
    }
    .slider-wrapper-text h2 {
        font-size: 15px;
    }
    .input-file span {
        height: 36px;
        width: 284px;
    }
    .input-file img {
        top: 8px;
        left: 48px;
    }
    .input-file span {
        padding-left: 73px;
    }
    .send-button-wrapper {
        margin-top: 110px;
    }
    .send-button-wrapper button {
        width: 284px;
        height: 36px;
    }
}

.footer {
    width: 100%;
    height: 80px;
    background: #3D4050;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.divider {
    width: 1px;
    height: 18px;
    background: #C3C3C3;
}

.footer-content h1 {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.footer-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-item h2 {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #C3C3C3  ;
}

.footer-center {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1150px) {
    .footer {
        height: 150px;
    }
    .footer-center {
        flex-direction: column;
        gap: 5px;
    }
    .divider {
        height: 110px;
    }
}

@media screen and (max-width: 720px) {
    .footer-content {
        flex-direction: column;
        gap: 5px;
    }
    .footer {
        height: 260px;
        padding: 10px 0;
    }
    .divider {
        width: 100%;
        height: 1px;
    }
    .footer-center {
        align-items: center;
    }
}